span {
    color: #FF136F
    ;
}
.categories-image img:first-child {
    width: 105px;
height: 90px;
}
.carding {
    border-radius: 8px;
}
.leo {
    width: 80%;
    background-color: 
    #FFF2F1;
    height: 300px;
}